.grid-center {
 display: grid;
 gap: 0.5em;
 justify-content: center;
}
.gridx2 {
 display: grid;
 grid-template-columns: repeat(2, auto);
 align-items:center;
 gap: 0.5em;
}
.visitorUser form {
 display: grid;
 gap: 0.25em;
}
.visitorUser textarea {
 width: 100%;
 background: linear-gradient(to bottom,#dee 0 1.5em,gray 1.5em 1.55em,transparent 1.55em),repeating-linear-gradient(to bottom, transparent 0 1.4em, lightgray 1.5em);
 word-spacing: 0.5em;
 line-height: 1.5em;
}
.visitorUser [type="submit"] {
 margin: auto;
  display:block;
}
form {
 margin: 0.5em 0;
}
.grid-center form fieldset {
 all: revert;
}
.row1-2col {
 grid-row:1;
 grid-column:1/-1;
}

/* codemirror css */
.visitorUser :is(.CodeMirror) {
 height:auto;
  background:#def
}
.visitorUser :is(.CodeMirror .CodeMirror-code > :first-child pre) {
 background:#f7f7f7;
 font-weight:bold;
}

/* couleur dans admin plugin pour plugin en scope null (admin+site)*/

#form_plugins span[data-scope=""],
#plugins-table tbody tr[data-scope=""] td.wrap strong:first-of-type {
	background :linear-gradient(45deg, #43b0f9 50%, lightgreen 50% );
	color: #fff;
}
